@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/forms" {
  strategy: "class";
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Fira Code", ui-monospace, sfmono-regular, menlo, monaco, consolas,
    "Liberation Mono", "Courier New", monospace;
  --animate-shine: shine 3s ease-out infinite;
  --animate-gradient-flow: gradient-flow 10s ease 0s infinite normal none
    running;
  --animate-meteor: meteor 5s linear infinite;
  --animate-background-position-spin: background-position-spin 3000ms infinite
    alternate;
  --animate-grid: grid 15s linear infinite;

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }

    25%,
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes gradient-flow {
    50% {
      background-position: 100% 50%;
    }

    0%,
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      transform: rotate(var(--angle)) translateX(0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: rotate(var(--angle)) translateX(-500px);
    }
  }

  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }

    100% {
      background-position: bottom center;
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-input: var(--sidebar-input);
  --color-gradient-lime: var(--gradient-lime);
  --color-gradient-ocean: var(--gradient-ocean);
  --color-gradient-wine: var(--gradient-wine);
  --color-gradient-rust: var(--gradient-rust);
}

:root {
  /* Gradient slide show Colors */
  --gradient-lime: oklch(67.287% 0.1546 116.644deg);
  --gradient-ocean: oklch(44.56% 0.1011 242.813deg);
  --gradient-wine: oklch(32.332% 0.1203 5.266deg);
  --gradient-rust: oklch(55.695% 0.1994 34.155deg);
  --radius: 0.65rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.1% 0.005 285.823deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.1% 0.005 285.823deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.1% 0.005 285.823deg);
  --primary: oklch(60.6% 0.25 292.717deg);
  --primary-foreground: oklch(96.9% 0.016 293.756deg);
  --secondary: oklch(96.7% 0.001 286.375deg);
  --secondary-foreground: oklch(21% 0.006 285.885deg);
  --muted: oklch(96.7% 0.001 286.375deg);
  --muted-foreground: oklch(55.2% 0.016 285.938deg);
  --accent: oklch(96.7% 0.001 286.375deg);
  --accent-foreground: oklch(21% 0.006 285.885deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92% 0.004 286.32deg);
  --input: oklch(92% 0.004 286.32deg);
  --ring: oklch(60.6% 0.25 292.717deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.1% 0.005 285.823deg);
  --sidebar-primary: oklch(60.6% 0.25 292.717deg);
  --sidebar-primary-foreground: oklch(96.9% 0.016 293.756deg);
  --sidebar-accent: oklch(96.7% 0.001 286.375deg);
  --sidebar-accent-foreground: oklch(21% 0.006 285.885deg);
  --sidebar-border: oklch(92% 0.004 286.32deg);
  --sidebar-ring: oklch(60.6% 0.25 292.717deg);

  font-size: clamp(14px, 2vw, 16px);

  --fc-small-font-size: var(--text-sm);
  --fc-page-bg-color: var(--color-background);
  --fc-neutral-bg-color: var(--color-muted);
  --fc-neutral-text-color: var(--color-foreground);
  --fc-border-color: var(--color-border);

  --fc-button-text-color: var(--color-foreground);
  --fc-button-bg-color: var(--color-background);
  --fc-button-border-color: var(--color-input);
  --fc-button-hover-bg-color: var(--color-accent);
  --fc-button-hover-border-color: var(--color-input);
  --fc-button-active-bg-color: var(--color-accent);
  --fc-button-active-border-color: var(--color-input);

  --fc-event-bg-color: var(--color-primary);
  --fc-event-border-color: var(--color-input);
  --fc-event-text-color: var(--color-primary-foreground);
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: --alpha(var(--colors-primary) / 10%);
  --fc-today-bg-color: --alpha(var(--colors-primary) / 10%);
  --fc-now-indicator-color: red;

  --fc-list-event-hover-bg-color: --alpha(var(--colors-primary) / 10%);
}

.dark {
  --background: oklch(14.1% 0.005 285.823deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(21% 0.006 285.885deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(21% 0.006 285.885deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(54.1% 0.281 293.009deg);
  --primary-foreground: oklch(96.9% 0.016 293.756deg);
  --secondary: oklch(27.4% 0.006 286.033deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(27.4% 0.006 286.033deg);
  --muted-foreground: oklch(70.5% 0.015 286.067deg);
  --accent: oklch(27.4% 0.006 286.033deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(54.1% 0.281 293.009deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(21% 0.006 285.885deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(54.1% 0.281 293.009deg);
  --sidebar-primary-foreground: oklch(96.9% 0.016 293.756deg);
  --sidebar-accent: oklch(27.4% 0.006 286.033deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(54.1% 0.281 293.009deg);
}

@layer base {
  * {
    @apply border-border outline-ring/50;

    scrollbar-color: var(--border) transparent;
    scrollbar-width: thin;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Toolbar buttons */
.fc {
  .fc-button {
    @apply inline-flex h-9 min-w-9 items-center justify-center rounded-md px-3 text-sm font-medium capitalize;
    .fc-icon {
      @apply text-sm/none;
    }
  }
  .fc-button-primary {
    @apply focus:ring-ring/50 z-10 focus:shadow-none focus:ring-[3px];
    &.fc-button-active {
      @apply focus:ring-ring/50 z-10 focus:shadow-none focus:ring-[3px];
    }
  }
}
/* Toolbar */
.fc .fc-toolbar {
  @apply grid gap-3 md:flex md:items-center md:justify-between;
  .fc-toolbar-chunk + .fc-toolbar-title {
    @apply order-1 md:order-none;
  }
}
/* Toolbar title */
.fc .fc-toolbar-title {
  @apply text-xl font-bold tracking-tight;
}
/* Calendar header cell */
.fc .fc-col-header-cell-cushion,
.fc .fc-timegrid-slot-label-cushion,
.fc .fc-timegrid-axis-cushion {
  @apply text-base/7 font-semibold;
}
/* Calendar: month day number */
.fc .fc-daygrid-day-number {
  @apply cursor-pointer text-base/7 font-medium;
}
.fc .fc-daygrid-month-start {
  @apply text-lg/7 font-semibold;
}
/* List text */
.fc-list-day-text,
.fc-list-day-side-text {
  @apply text-base/7 font-semibold;
}
.fc-h-event .fc-event-main-frame {
  @apply items-center;
}
.fc .fc-list-event-time,
.fc .fc-event-time {
  @apply align-middle text-sm/none font-normal;
}
.fc .fc-event-time {
  @apply mr-2;
}

.fc .fc-list-event-title {
  @apply align-middle text-sm/none font-semibold;
}

/* Event inside month view */
.fc .fc-daygrid-event {
  @apply rounded-md font-medium;
}
.fc .fc-h-event .fc-event-main {
  @apply px-1;
}
/* MultiMonth */
.fc .fc-multimonth-multicol .fc-daygrid-more-link {
  @apply border-primary bg-primary text-primary-foreground text-[10px] leading-4;
}

/* Mulimonth popup */
.fc-theme-standard .fc-popover {
  @apply rounded-md;
}

.fc-popover-header {
  @apply px-3;
  .fc-popover-title {
    @apply text-base/10 font-bold tracking-tight;
  }
}

@font-face {
  font-family: "lazy_dog";
  src:
    url("/fonts/lazy_dog.woff2") format("ttf"),
    url("/fonts/lazy_dog.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  @apply font-semibold;
  font-family: "lazy_dog", sans-serif;
}

.navbar a {
  font-size: 2rem;
}
